<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.cosm.sales.orders.mapper.ordersMapper">
	<!-- 주문번호순으로 정렬 - public int getOrderNo(); -->
	<select id="getOrderNo" resultType="ordersVO">
		SELECT NVL(MAX(order_no), 0)
		+ 1 as orderNo FROM orders
	</select>


	<!-- 주문 전체조회 -->
	<select id="orderList" resultType="ordersVO">
		select * from orders
		ORDER BY order_no
	</select>


	<!-- 주문 단건조회 -->

	<select id="orderInfo" parameterType="ordersVO"
		resultType="ordersVO">
SELECT
		ORDER_NO,
		CLIENT_NO,
		PRODUCT_NO,
		ORDER_DATE,
		DELIVERY_DATE,
		PRODUCT_NAME,
		TOTAL_NUM,
		TOTAL_PRICE,
		SURTAX,
		NOTE,
		ORDER_CODE,
		ORDER_PROGRESS_CODE

FROM    orders
		<!--  
	<where>
		 <if test="clientNo !=0"></if>
		<if test="orderNo > 0">
				AND ORDER_NO = #{orderNo}
		</if>
	</where>
		 -->

	</select>



	<!-- 주문 등록 -->
	<insert id="insertOrder" parameterType="ordersVO">
	INSERT INTO orders (
			ORDER_NO,
			CLIENT_NO,
			PRODUCT_NO,
			ORDER_DATE,
			DELIVERY_DATE,
			PRODUCT_NAME,
			TOTAL_NUM,
			TOTAL_PRICE,
			SURTAX,
			NOTE,
			ORDER_CODE,
			ORDER_PROGRESS_CODE)
	values (
			#{orderNo},
			#{clientNo},
			#{productNo},
			#{orderDate},
			#{deliveryDate},
			#{productName},
			#{totalNum},
			#{totalPrice},
			#{surtax},
			#{note},
			#{orderCode},
			#{orderProgressCode}
		)
	</insert>


	<!-- 주문 내역삭제 -->
	<delete id="deleteOrder" parameterType="ordersVO">
	DELETE FROM orders where ORDER_NO = #{orderNo}
	</delete>
	
	<!-- 주문수정(주문상태) (재고입출고 상황) (배송상황)-->
	


</mapper>